#!/usr/bin/bash
SSL_FILE_PATH= \
SSL_SERVER_NAME= \
SSL_CERTIFICATE= \
SSL_KEY= \
SSL_PEM= \
HOST= \
ORIGINS= \
ENCRYPTION_KEY= \
HASH_SALT= \
MYSQL_HOST= \
MYSQL_USER= \
MYSQL_PASSWORD= \
MYSQL_DATABASE= \
ENABLE_RECAPTCHA= \
RECAPTCHA_SECRET_KEY= \
RECAPTCHA_SITE_KEY= \
RMQ_SSL= \
RABBITMQ_DEFAULT_USER= \
RABBITMQ_DEFAULT_PASS= \
docker compose --project-name deku-cloud up -d --build
